@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #a7398b;
  --secondary: #19235a;
  --light: #d3dce4;
}

.bg-primary { background-color: var(--primary); }
.text-primary { color: var(--primary); }

.bg-secondary { background-color: var(--secondary); }
.text-secondary { color: var(--secondary); }

.bg-light { background-color: var(--light); }
.text-light { color: var(--light); }

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.accordian h2 {
  padding: 0 10px;
}
