@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #62269e;
  --secondary: #19235a;
  --light: #d3dce4;
}

.bg-primary { background-color: var(--primary); }
.text-primary { color: var(--primary); }

.bg-secondary { background-color: var(--secondary); }
.text-secondary { color: var(--secondary); }

.bg-light { background-color: var(--light); }
.text-light { color: var(--light); }

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.avatar-select-label-css label {
  margin-left: 43px;
}

.accordian h2 {
  padding: 0 10px;
}

/* Increase time slot height */
.rbc-time-slot {
  min-height: 50px !important; /* Adjust height as needed */
}

/* Make all events the same width */
.rbc-event {
  width: var(--event-width) !important; /* Adjust based on max overlap */
  min-width: 100px;
  flex-grow: 1;
}

/* Add spacing between overlapping events */
.rbc-event-content {
  padding: 5px;
  display: flex;
  justify-content: center;
}

/* Ensure events align properly in a row */
.rbc-row-segment {
  display: flex !important;
  justify-content: space-evenly;
}

/* Reduce margin/padding for better alignment */
.rbc-event-label {
  display: none; /* Hide the extra label space */
}
.hide-time .rbc-event-label {
  display: none; /* Hides start & end times */
}



/* Sidebar Accordion */
.sidebar .border-medium {
  border-radius: 0;
  margin-bottom: 5px;
  /* border: none;
  background-color: lightgray; */
  button {
    padding: 10px 0;
    outline: none;
  }
}
